h1{

    border-width: 2rem;
    

}

body{

    background-origin: padding-box;
    max-width: 960px;
    padding: 20px;
    background-color:skyblue;
}


.submitt{
     
    width: 88%;
    
    padding-top: 2%;
    margin-top: 3%;
    text-align: center;
    text-decoration: dashed;
  
}

.q1{

    width: 100%;
}



